@charset "UTF-8";
/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .grid-fifths {
    float: left;
    width: 49.2424242424%; }
    .grid-fifths:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-fifths:nth-of-type(2n) {
      margin-right: 0; }
    .grid-fifths:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.2424242424%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.404040404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.3232323232%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.2424242424%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.1616152593%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-4:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.7424240402%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-5:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  .grid-fifths {
    width: 18.7878787879%; }
    .grid-fifths:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-fifths:nth-of-type(5n) {
      margin-right: 0; }
    .grid-fifths:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.6666666667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.3333333333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.6666657778%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 82.9999998008%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.8636363636%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .grid-fifths.no-margin {
    width: 20%; }
    .grid-fifths.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-fifths.no-margin:nth-of-type(5n) {
      margin-right: 0; }
    .grid-fifths.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.3232323232%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
h1, h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

p, li {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  color: #989898; }

*[class^="content"],
footer {
  padding: 70px 5%; }

.content--light {
  position: relative;
  background-color: #352f31;
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25); }

.content--orange {
  background-color: #db9140;
  text-align: center;
  padding: 40px 5%; }
  .content--orange img {
    margin-bottom: 10px; }
  .content--orange .testimonial {
    width: 90%;
    max-width: 940px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.625em;
    font-weight: 400;
    line-height: 1.6em;
    color: #fff;
    margin: 0 auto; }
  .content--orange .testimonial__author {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6em;
    color: #fff;
    margin-top: 20px; }
  .content--orange a {
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 60px; }

.button {
  background-color: #db9140;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.page-header h1 {
  margin-bottom: 70px; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
body {
  background-color: #211e1f; }

header[role=banner], .phantom {
  width: 100%;
  position: relative;
  z-index: 3;
  background: #272123;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjcyMTIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMWIxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg, #272123 0%, #211b1d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #272123), color-stop(100%, #211b1d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #272123 0%, #211b1d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #272123 0%, #211b1d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #272123 0%, #211b1d 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #272123 0%, #211b1d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272123', endColorstr='#211b1d',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 50px 5%; }

.branding {
  display: inline-block;
  margin-right: 5%;
  float: left; }

nav[role=navigation] {
  float: right;
  margin-top: 25px; }
  nav[role=navigation] li {
    display: inline-block; }
    nav[role=navigation] li a {
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 10px; }
      nav[role=navigation] li a:hover, nav[role=navigation] li a:focus {
        border-bottom: 3px solid #db9140; }

.phantom {
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
  padding: 20px 5% !important; }
  .phantom nav[role=navigation] {
    margin: 5px 0 0; }
  .phantom .branding img {
    width: 300px !important; }

.selected {
  border-bottom: 3px solid #db9140; }

.search--primary {
  position: absolute;
  top: 0;
  right: 5%; }

.hero {
  position: relative; }
  .hero img {
    width: 100%; }

.slide__details {
  position: absolute;
  top: 20%;
  left: 10%; }
  .slide__details h2 {
    font-size: 2.875em;
    line-height: 1.1em; }
  .slide__details .slider__subhead {
    font-family: "Open Sans", sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    color: #db9140; }

.services--home {
  padding: 40px 5%; }

.service {
  margin: 30px 0; }
  .service svg {
    width: 20%;
    stroke: #db9140;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 5;
    fill: none;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px; }

.service__list li {
  position: relative;
  margin-left: 20px !important;
  list-style: none; }
  .service__list li:after {
    content: "•";
    font-size: 1.5em;
    color: #db9140;
    position: absolute;
    left: -20px; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
.service__info {
  display: inline-block;
  vertical-align: top;
  width: 75%; }
  .service__info h3 {
    font-size: 1.375em; }

.stat__graphs {
  margin-bottom: 40px; }

.project__stats h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px; }

.graph {
  position: relative;
  width: 75%;
  background-color: #000;
  padding: 2px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }

.graph__title {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }

*[class^="graph__inner"] {
  position: relative;
  left: -100%;
  background-color: #db9140;
  height: 15px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.g-tax {
  -webkit-animation: slide-tax 0.7s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-tax 0.7s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

.g-scenic {
  -webkit-animation: slide-scenic 0.7s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-scenic 0.7s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

.g-rep {
  -webkit-animation: slide-rep 0.7s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-rep 0.7s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

.g-mural {
  -webkit-animation: slide-mural 0.7s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-mural 0.7s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes slide-tax {
  100% {
    left: -28%; } }
@keyframes slide-tax {
  100% {
    left: -28%; } }
@-webkit-keyframes slide-scenic {
  100% {
    left: -83%; } }
@keyframes slide-scenic {
  100% {
    left: -83%; } }
@-webkit-keyframes slide-rep {
  100% {
    left: -92%; } }
@keyframes slide-rep {
  100% {
    left: -92%; } }
@-webkit-keyframes slide-mural {
  100% {
    left: -97%; } }
@keyframes slide-mural {
  100% {
    left: -97%; } }
.project__thumbnails h2 {
  margin-left: 1%; }

.project__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #db9140;
  opacity: 0;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .project__info svg {
    opacity: 0;
    width: 10px;
    stroke: #fff;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 5;
    fill: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .project__info div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .project__info h3 {
    margin-top: -50px;
    margin-bottom: -25px; }

.project__large,
.project__medium,
.project__small {
  position: relative;
  background-color: #db9140;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden; }
  .project__large img,
  .project__medium img,
  .project__small img {
    width: 100%;
    display: block; }
  .project__large a,
  .project__medium a,
  .project__small a {
    display: block; }

.project__small a:after,
.project__medium a:after,
.project__large a:after {
  content: "";
  opacity: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.project__large:hover .project__info,
.project__medium:hover .project__info,
.project__small:hover .project__info,
.project__large:focus .project__info,
.project__medium:focus .project__info,
.project__small:focus .project__info {
  opacity: 0.92; }
  .project__large:hover .project__info svg,
  .project__medium:hover .project__info svg,
  .project__small:hover .project__info svg,
  .project__large:focus .project__info svg,
  .project__medium:focus .project__info svg,
  .project__small:focus .project__info svg {
    opacity: 1;
    width: 50px; }

.featured--large {
  width: 48%;
  float: left;
  margin: 1%; }

.featured--small {
  width: 23%;
  float: left;
  margin: 1%; }
  .featured--small .button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 25px 0; }

.video {
  width: 65%;
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle; }
  .video img {
    width: 100%; }

.client__testimonials {
  width: 34%;
  display: inline-block;
  vertical-align: middle; }
  .client__testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px; }

.client__name {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  color: #fff;
  margin-top: 25px; }

.video__wrap {
  padding: 70px 10%; }

.client__testimonial {
  background-color: #211e1f;
  padding: 20px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.articles--home h2, .articles--home .sub-head {
  text-align: center;
  line-height: 1.2em; }
.articles--home h2 {
  font-size: 2em; }
.articles--home .sub-head {
  color: #db9140;
  font-size: 1.375em;
  margin-bottom: 40px; }

.article--home h3 {
  margin-bottom: 20px; }
.article--home figure {
  background-color: #352f31;
  width: 100%;
  min-height: 140px;
  margin-bottom: 20px; }
.article--home a {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #db9140;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px; }

.stats {
  background-image: url(../img/elephant-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center; }

.stat {
  display: inline-block;
  margin: 0 20px; }

.stat__number {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5em;
  line-height: 1.1em;
  color: #fff; }

.stat__title {
  color: #db9140; }

.recent__thumb {
  background-color: #352f31;
  position: relative; }
  .recent__thumb img {
    width: 100%; }
  .recent__thumb:hover .project__info, .recent__thumb:focus .project__info {
    opacity: 0.92; }
    .recent__thumb:hover .project__info svg, .recent__thumb:focus .project__info svg {
      opacity: 1;
      width: 35px; }

.sitemap--work li {
  list-style: none; }
  .sitemap--work li a {
    color: #989898;
    text-decoration: none; }

.recent-photos h2,
.sitemap--work h2,
.footer__contact h2 {
  margin-bottom: 20px; }

/*
GALLERY PAGE
*/
.gallery__filters a {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 10px; }
  .gallery__filters a:hover, .gallery__filters a:focus {
    color: #db9140; }
.gallery__filters span {
  color: #fff;
  margin: 0 5px; }

.gallery__search form {
  width: 100%;
  max-width: 300px;
  text-align: right;
  float: right; }
.gallery__search input {
  display: block;
  width: 100%;
  max-width: 300px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #352f31;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px; }

.gallery__thumbnail {
  position: relative; }
  .gallery__thumbnail img {
    width: 100%; }
  .gallery__thumbnail:hover .project__info, .gallery__thumbnail:focus .project__info {
    opacity: 0.92; }
    .gallery__thumbnail:hover .project__info svg, .gallery__thumbnail:focus .project__info svg {
      opacity: 1;
      width: 50px; }

.gallery__thumbnail--left {
  padding: 0 0.7575757575% 0 0; }
  .gallery__thumbnail--left .project__info {
    width: 97.75757575%; }

.gallery__thumbnail--right {
  padding: 0 0 0 0.6775757575%; }

.service__wrap h2 {
  margin-bottom: 20px; }
.service__wrap .service__info--page p {
  margin-bottom: 20px; }

.project {
  background-color: #352f31;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08); }
  .project figure {
    position: relative;
    margin-bottom: 20px; }
    .project figure img {
      width: 100%; }
    .project figure:hover .project__info {
      opacity: 0.92; }
      .project figure:hover .project__info svg {
        opacity: 1;
        width: 50px; }
  .project h2 {
    font-size: 1.25em; }
    .project h2 a {
      color: #fff;
      text-decoration: none; }
      .project h2 a:hover, .project h2 a:focus {
        color: #db9140; }
  .project time {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875em;
    color: #656565;
    margin-bottom: 20px; }

.footer__contact form input[type=text], .footer__contact form textarea {
  display: block;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #352f31;
  padding: 15px;
  margin-bottom: 20px; }
.footer__contact form textarea {
  height: 120px; }

.copyright {
  margin-top: 30px; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
