@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
body{
	background-color: $bgColor;
}
header[role=banner],.phantom{
	width: 100%;
	position: relative;
	z-index: 3;
	background: #272123; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjcyMTIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMWIxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  #272123 0%, #211b1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#272123), color-stop(100%,#211b1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #272123 0%,#211b1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #272123 0%,#211b1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #272123 0%,#211b1d 100%); /* IE10+ */
	background: linear-gradient(45deg,  #272123 0%,#211b1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272123', endColorstr='#211b1d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	@include prefix(box-shadow, 0 0 10px rgba(0,0,0,0.25));
	-webkit-box-shadow:  inset 0 0 1px rgba(255,255,255,0.25), 0 0 10px rgba(0,0,0,0.25);
	-moz-box-shadow:  inset 0 0 1px rgba(255,255,255,0.25), 0 0 10px rgba(0,0,0,0.25);
	-o-box-shadow:  inset 0 0 1px rgba(255,255,255,0.25), 0 0 10px rgba(0,0,0,0.25);
	box-shadow:  inset 0 0 1px rgba(255,255,255,0.25), 0 0 10px rgba(0,0,0,0.25);
	padding: 50px 5%;
}
.branding{
	display: inline-block;
	margin-right: 5%;
	float: left;
}
nav[role=navigation]{
	float: right;
	margin-top: 25px;
	li{
		display: inline-block;
		a{
			font-family: $body;
			font-size: 1em;
			font-weight: 400;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			margin: 0 10px;
			&:hover,&:focus{
				border-bottom: 3px solid $primaryColor;
			}
		}
	}
}
.phantom{
	position: fixed;
	top: 0;
	z-index: 2;
	display: none;
	padding: 20px 5% !important;
	nav[role=navigation]{
		margin: 5px 0 0;
	}
	.branding img{
		width: 300px !important;
	}
}
.selected{
	border-bottom: 3px solid $primaryColor;
}
.search--primary{
	position: absolute;
	top: 0;
	right: 5%;
}
.hero{
	position: relative;
	img{
		width: 100%;
	}
}
.slide__details{
	position: absolute;
	top: 20%;
	left: 10%;
	h2{
		font-size: em(46px, $font-size);
		line-height: 1.1em;
	}
	.slider__subhead{
		font-family: $body;
		font-size: em(22px, $font-size);
		font-weight: 400;
		color: $primaryColor;
	}
}
.services--home{
	padding: 40px 5%;
}
.service{
	margin: 30px 0;
	svg{
		width: 20%;
		stroke: $primaryColor;
		stroke-width:3;
		stroke-linejoin:round;
		stroke-miterlimit:5;

		fill: none;
		display: inline-block;
		vertical-align: top;
		margin-top: -5px;

	}
}
.service__list{
	li{
		position: relative;
		margin-left: 20px !important;
		list-style: none;
		&:after{
			content: "•";
			font-size: 1.5em;
			color: $primaryColor;
			position: absolute;
			left: -20px;
		}
	}
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.service__info{
	display: inline-block;
	vertical-align: top;
	width: 75%;
	h3{
		font-size: em(22px, $font-size);
	}
}
.stat__graphs{
	margin-bottom: 40px;
}
.project__stats{
	h3{
		font-family: $headline;
		font-size: em(24px ,$font-size);
		margin-bottom: 15px;
	}
}
.graph{
	position: relative;
	width: 75%;
	background-color: #000;
	padding: 2px;
	margin-bottom: 10px;
	@include prefix(border-radius,10px);
	overflow: hidden;
}
.graph__title{
	font-family: $headline;
	font-size: em(16px,$font-size);
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
*[class^="graph__inner"]{
	position: relative;
	left: -100%;
	background-color: $primaryColor;
	height: 15px;
	width: 100%;
	@include prefix(border-radius,10px);
}
// .graph__inner--taxidermy{
// 	width: 72%;
// }
// .graph__inner--scenic{
// 	width: 17%;
// }
// .graph__inner--reproductions{
// 	width: 8%;
// }
// .graph__inner--murals{
// 	width: 3%;
// }

.g-tax{
	-webkit-animation: slide-tax 0.8s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-tax 0.8s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.g-scenic{
	-webkit-animation: slide-scenic 0.8s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-scenic 0.8s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.g-rep{
	-webkit-animation: slide-rep 0.8s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-rep 0.8s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.g-mural{
	-webkit-animation: slide-mural 0.8s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide-mural 0.8s forwards;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes slide-tax {
    100% { left: -28%; }
}
@keyframes slide-tax {
    100% { left: -28%; }
}
@-webkit-keyframes slide-scenic {
    100% { left: -83%; }
}
@keyframes slide-scenic {
    100% { left: -83%; }
}
@-webkit-keyframes slide-rep {
    100% { left: -92%; }
}
@keyframes slide-rep {
    100% { left: -92%; }
}
@-webkit-keyframes slide-mural {
    100% { left: -97%; }
}
@keyframes slide-mural {
    100% { left: -97%; }
}


.project__thumbnails{
	h2{
		margin-left: 1%;
	}
}
.project__info{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $primaryColor; 
	opacity: 0;
	text-align: center;
	@include prefix(transition, 0.2s ease-in-out);
	svg{
		opacity: 0;
		width: 25px;
		stroke: #fff;
		stroke-width:3;
		stroke-linejoin:round;
		stroke-miterlimit:5;

		fill: #fff;
		display: inline-block;
		vertical-align: top;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include prefix(transition, 0.2s ease-in-out);
	}
	div{
		display: inline-block;
		vertical-align: top;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include prefix(transition, 0.2s ease-in-out);
	}
	h3{
		margin-top: -50px;
		margin-bottom: -25px;
	}
}

.project__large,
.project__medium,
.project__small{
	position: relative;
	background-color: $primaryColor; 
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.25);
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	overflow: hidden;
	img{
		width: 100%;
		display: block;
	}
	a{
		display: block;
	}
}
.project__small a:after,
.project__medium a:after,
.project__large a:after{
	content: "";
	opacity: 1 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255,255,255,0.10);
}
.project__large:hover,
.project__medium:hover,
.project__small:hover,
.project__large:focus,
.project__medium:focus,
.project__small:focus{
	.project__info{
		opacity: 0.92;
		svg{
			opacity: 1;
			width: 50px;
		}
	}
}

.featured--large{
	width: 48%;
	float: left;
	margin: 1%;
}
.featured--small{
	width: 23%;
	float: left;
	margin: 1%;
	.button{
		display: block;
		width: 100%;
		text-decoration: none;
		text-align: center;
		padding: 25px 0;
	}
}


.video{
	width: 65%;
	padding-right: 20px;
	display: inline-block;
	vertical-align: middle;
	img{
		width: 100%;
	}
}
.client__testimonials{
	width: 34%;
	display: inline-block;
	vertical-align: middle;
	h2{
		font-size: em(32px, $font-size);
		margin-bottom: 20px;
	}
}
.client__name{
	font-family: $headline;
	font-size: em(24px, $font-size);
	line-height: 1.2em;
	color: #fff;
	margin-top: 25px;
}
.client__title{
	
}
.video__wrap{
	padding: 70px 10%;
}
.client__testimonial{
	background-color: $bgColor;
	padding: 20px 30px;
	@include prefix(border-radius, 5px);
}

.articles--home{
	h2,.sub-head{
		text-align: center;
		line-height: 1.2em;
	}
	h2{
		font-size: em(32px,$font-size);
	}
	.sub-head{
		color: $primaryColor;
		font-size: em(22px,$font-size);
		margin-bottom: 40px;
	}
}
.article--home{
	h3{
		margin-bottom: 20px;
	}
	figure{
		background-color: $secondaryColor;
		width: 100%;
		min-height: 140px;
		margin-bottom: 20px;
	}
	a{
		display: block;
		font-family: $headline;
		font-weight: 700;
		color: $primaryColor;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 20px;
	}
}
.stats{
	background-image: url(../img/elephant-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.stat{
	display: inline-block;
	margin: 0 20px;
}
.stat__number{
	font-family: $headline;
	font-size: em(56px,$font-size);
	line-height: 1.1em;
	color: #fff;
}
.stat__title{
	color: $primaryColor;
}
.recent__thumb{
	background-color: $secondaryColor;
	position: relative;
	img{
		width: 100%;
	}
	&:hover,&:focus{
		.project__info{
			opacity: 0.92;
			svg{
				opacity: 1;
				width: 35px;
			}
		}
	}
}
.sitemap--work{
	li{
		list-style: none;
		a{
			color: $textColor;
			text-decoration: none;
		}
	}
}
.recent-photos,
.sitemap--work,
.footer__contact{
	h2{
		margin-bottom: 20px;
	}
}

/*
GALLERY PAGE
*/
.gallery__filters{
	a{
		display: inline-block;
		font-family: $headline;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		margin-bottom: 10px;
		&:hover,
		&:focus{
			color: $primaryColor;
		}
	}
	span{
		color: #fff;
		margin: 0 5px;
	}
}
.gallery__search{
	form{	
		width: 100%;
		max-width: 300px;
		text-align: right;
		float: right;
	}
	input{
		display: block;
		width: 100%;
		max-width: 300px;
		border: none;
		@include prefix(border-radius, 5px);
		background-color: $secondaryColor;
		font-family: $body;
		color: #fff;
		padding: 15px;
		margin-bottom: 20px;
	}
}
.gallery__thumbnail{
	// background-color: $secondaryColor;
	position: relative;
	img{
		width: 100%;
	}
	&:hover,&:focus{
		.project__info{
			opacity: 0.92;
			svg{
				opacity: 1;
				width: 50px;
			}
		}
	}
}
.gallery__thumbnail--left{
	padding: 0 0.7575757575% 0 0;
	.project__info{
		width: 97.75757575%;
	}
}
.gallery__thumbnail--right{
	padding: 0 0 0 0.6775757575%;
}


.service__wrap,
.about__wrap{
	h2{
		margin-bottom: 20px;
	}
	.service__info--page{
		p{
			margin-bottom: 20px;
		}
	}
}
.about__wrap{
	margin-bottom: 60px;
}

.about__info{
	p{
		margin-bottom: 20px; 
	}
}
.about__graphic{
	img{
		width: 100%;
	}
}

.project{
	background-color: $secondaryColor;
	padding: 20px;
	border: 1px solid rgba(255,255,255,0.08);
	figure{
		position: relative;
		margin-bottom: 20px;
		img{
			width: 100%;
		}
		&:hover{
			.project__info{
				opacity: 0.92;
				svg{
					opacity: 1;
					width: 50px;
				}
			}
		}
	}
	h2{
		font-size: em(20px, $font-size);
		a{
			color: #fff;
			text-decoration: none;
			&:hover,
			&:focus{
				color: $primaryColor;
			}
		}
	}
	time{
		display: inline-block;
		font-family: $body;
		font-size: em(14px,$font-size);
		color: darken($textColor,20);
		margin-bottom: 20px;
	}
}


.footer__contact{
	form{
		input[type=text],textarea{
			display: block;
			width: 100%;
			border: none;
			@include prefix(border-radius, 5px);
			background-color: $secondaryColor;
			padding: 15px;
			margin-bottom: 20px;
		}
		textarea{
			height: 120px;
		}
	}
}
.copyright{
	margin-top: 30px;
}

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";